<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2026-07-11T17:06:27Z</date>
	<key>WorkspacePath</key>
	<string>/Users/kangminsung/dev/inanna/app/Inanna.xcodeproj</string>
</dict>
</plist>
